<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Text Bubble</title>
  </head>

  <body>
    <section class='center' style='margin: 0 auto;width: fit-content;'>
      <%= yield %>
    </section>
  </body>
  <%= yield :end_of_html %>
</html>
